<form class="form-horizontal">
        <legend>Modifier le capteur</legend>
        <input type="hidden" id="id" value="<%= device.get('id') %>" /> 
        <div class="control-group">
            <label class="control-label" for="deviceName">Nom du capteur</label>
            <div class="controls">
                <input type="text" id="deviceName" class="deviceName" value="<%= device.get('name') %>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="selectRoom">Emplacement</label>
            <div class="controls">
                <select>
                    <% _.each(places, function(place) { %>
                        <option value=<%=place.get("id") %>
                            <% if (place.get("id") === device.get("placeId")) { %>
                            selected="selected"
                            <% } %>>
                            <%= place.get("name") %>
                        </option>
                    <% }); %>
                    <option value="-1" <% if (device.get("placeId") == -1) { %>
                        selected="selected"
                        <% } %>>
                        Non d&eacute;fini
                    </option>
                </select>
                <span class="help-block">Type du capteur : <span class="sensorType"></span></span><br />
                <span class="help-block">Valeur : <span class="sensorValue"></span></span>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <span class="btn cancelEditDevice">Annuler</span>
                <span class="btn btn-primary save">Valider</span>
            </div>
        </div>
</form>