<li class="list-group-item">
	<strong data-i18n="devices.consumption-label"></strong>
	<div class="pull-right label label-info">
		<%= device.get("consumption") %> Watt
	</div>
</li>
<li class="list-group-item">
	<strong data-i18n="devices.state-label">Etat</strong>
	<div class="pull-right">
		<button type="button" class="btn btn-info btn-sm toggle-plug-button">
			<% if (device.get("plugState") === "true" || device.get("plugState") === true) { %>
				<span data-i18n="devices.plug.action.turnOff"></span>
			<% } else { %>
				<span data-i18n="devices.plug.action.turnOn"></span>
			<% } %>
		</button>
	</div>
</li>