<li class="list-group-item">
	<div>
		<div class="pull-right label label-success">
			<span id="selectedMedia" data-i18n="services.mediaplayer.status.selected">Select a media</span>
		</div>
		<div>
			<button type="button" class="btn btn-default btn-sm btn-media-browse" data-target="#media-browser-modal" data-toggle="modal" data-i18n="services.mediaplayer.action.browse"></button>
		</div>
	</div>
	<div>
		<button type="button" class="btn btn-info btn-sm btn-media-play" data-i18n="services.mediaplayer.action.play"></button>
		<button type="button" class="btn btn-info btn-sm btn-media-resume" data-i18n="services.mediaplayer.action.resume"></button>
		<button type="button" class="btn btn-info btn-sm btn-media-pause" data-i18n="services.mediaplayer.action.pause"></button>
		<button type="button" class="btn btn-info btn-sm btn-media-stop" data-i18n="services.mediaplayer.action.stop"></button>
		<div class="slider-container pull-right">
			<span data-i18n="services.mediaplayer.action.volume"></span>
			<div class="volume-slider"></div>
		</div>
	</div>
</li>
