<div class="place-details"></div>

<div id="addLocationModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Ajouter pi&egrave;ce</h3>
	</div>
	<div class="modal-body">
		<input type="text" class="locationName input-block-level" placeholder="Nom de la pi&egrave;ce">
		<p class="hide text-error">Nom de pi&egrave;ce d&eacute;ja existant</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Annuler</button>
		<button class="btn btn-primary valid-install">Valider</button>
	</div>
</div>

<button data-target="#addLocationModal" data-toggle="modal" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Ajouter pi&egrave;ce</button>