<div class="lead">
    <% if (type === "0") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.temperature.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.temperature.name.plural"></span>
    <% } %>
    <% } else if (type === "1") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.illumination.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.illumination.name.plural"></span>
    <% } %>
    <% } else if (type === "2") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.switch.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.switch.name.plural"></span>
    <% } %>
    <% } else if (type === "3") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.contact.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.contact.name.plural"></span>
    <% } %>
    <% } else if (type === "4") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.keycard-reader.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.keycard-reader.name.plural"></span>
    <% } %>
    <% } else if (type === "5") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.ard.name.plural"></span>
    <% } else { %>
    <span data-i18n="devices.ard.name.plural"></span>
    <% } %>
    <% } else if (type === "6") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.plug.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.plug.name.plural"></span>
    <% } %>
    <% } else if (type === "7") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.lamp.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.lamp.name.plural"></span>
    <% } %>
    <% } else if (type === "8") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.actuator.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.actuator.name.plural"></span>
    <% } %>
    <% } else if (type === "31") { %>
    <% if (devices.length === 1) { %>
    <span data-i18n="devices.mediaplayer.name.singular"></span>
    <% } else { %>
    <span data-i18n="devices.mediaplayer.name.plural"></span>
    <% } %>
    <% } %>

</div>

<!-- render located devices -->
<div class="contents-list">
    <% places.forEach(function(place) { %>
    <% if (place.getTypeSensors(type).length > 0) { %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <% if (place.get("name") !== "") { %>
                <%= place.get("name") %>
                <% } else { %>
                <em data-i18n="places-details.place-no-name"></em>
                <% } %>
                <span class="badge pull-right">
                    <%= place.getTypeSensors(type).length %>
                </span>
            </h3>
        </div>
        <div class="list-group">
            <% place.getTypeSensors(type).forEach(function(s) { %>
            <a href="#devices/<%= s.get('id') %>" class="list-group-item">
                <% if (s.get("name") !== "") { %>
                <%= s.get("name") %>
                <% } else { %>
                <em data-i18n="devices.device-no-name"></em>
                <% } %>
                <div class="pull-right">
                    <% if (type === "6") { %>
                    <% if (s.get("plugState") === "true" || s.get("plugState") === true) { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-plug-button" data-i18n="devices.plug.action.turnOff"></button>
                    <% } else { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-plug-button" data-i18n="devices.plug.action.turnOn"></button>
                    <% } %>
                    <% } else if (type === "7") { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm blink-lamp-button" data-i18n="devices.lamp.action.blink"></button>

                    <% if (s.get("value") === "true" || s.get("value") === true) { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-lamp-button" data-i18n="devices.lamp.action.turnOff"></button>
                    <% } else { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-lamp-button" data-i18n="devices.lamp.action.turnOn"></button>
                    <% } %>
                    <% } else if (type === "8") { %>
                    <% if (s.get("value") === "true" || s.get("value") === true) { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-actuator-button" data-i18n="devices.actuator.action.turnOff"></button>
                    <% } else { %>
                    <button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-actuator-button" data-i18n="devices.actuator.action.turnOn"></button>
                    <% } %>
                    <% } %>
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </div>
                <br>
                <% if (s.get("status") === "0") { %>
                <span class="label label-danger" data-i18n="devices.status.disconnected"></span>
                <% } else if (s.get("status" === "1")) { %>
                <span class="label label-warning" data-i18n="devices.status.waiting"></span>
                <% } else { %>
                <span class="label label-success" data-i18n="devices.status.connected"></span>
                <% } %>
                <% if (type === "0") { %>
                <span class="label label-info"><%= s.get("value") %>&deg;C</span>
                <% } else if (type === "1") { %>
                <span class="label label-info"><%= s.get("value") %> Lux</span>
                <% } else if (type === "2") { %>
                <% if (s.get("value") === "true") { %>
                <span class="label label-info" data-i18n="devices.switch.value.opened"></span>
                <% } else { %>
                <span class="label label-info" data-i18n="devices.switch.value.closed"></span>
                <% } %>
                <% } else if (type === "3") { %>
                <% if (s.get("contact") === "true") { %>
                <span class="label label-info" data-i18n="devices.contact.value.closed"></span>
                <% } else { %>
                <span class="label label-info" data-i18n="devices.contact.value.opened"></span>
                <% } %>
                <% } else if (type === "4") { %>
                <% if (s.get("inserted") === "true") { %>
                <span class="label label-info" data-i18n="devices.keycard-reader.value.inserted"></span>
                <% } else { %>
                <span class="label label-info" data-i18n="devices.keycard-reader.value.not-inserted"></span>
                <% } %>
                <% } else if (type === "6") { %>
                <span class="label label-info"><%= s.get("consumption") %> W</span>
                <% if (s.get("plugState") === "true" || s.get("plugState") === true) { %>
                <span class="label label-info" data-i18n="devices.plug.status.turnedOn"></span>
                <% } else { %>
                <span class="label label-info" data-i18n="devices.plug.status.turnedOff"></span>
                <% } %>
                <% } else if (type === "7") { %>
                <% if (s.get("value") === "true" || s.get("value") === true) { %>
                <span class="label label-info" data-i18n="devices.lamp.status.turnedOn"></span>
                <% } else { %>
                <span class="label label-info" data-i18n="devices.lamp.status.turnedOff"></span>
                <% } %>
                <% } else if (type === "8") { %>
                <% if (s.get("value") === "true" || s.get("value") === true) { %>
                <span class="label label-info" data-i18n="devices.actuator.status.turnedOn"></span>
                <% } else { %>
                <span class="label label-info" data-i18n="devices.actuator.status.turnedOff"></span>
                <% } %>
                <% } %>
            </a>
            <% }) %>
        </div>
    </div>
    <% } %>
    <% }) %>
</div>
