/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

html, body {
	height:100%
}

.home-menu {
	width:100%;
}

.home-menu-item {
	height:15%;
	width:25%;
	text-align:center;
}

.home-menu-image {
	height:200px;
	width:200px;
	border:10px solid black;
	border-radius:50%;
}

.green-border {
	border:10px solid green;
}

.orange-border {
	border:10px solid orange;
}

.blue-border {
	border:10px solid blue;
}

.gray-border {
	border:10px solid gray;
}

.navbar {
	height:5%;
	top:0px;
	left:0px;
	width:100%;
	background:#E8E8E8;
}

.navbar-item {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}


main {
	height:90%;
	width:100%;
}

footer {
	height:5%;
	bottom:0px;
	left:0px;
	width:100%;
	background:#E8E8E8;
}

.footer-item {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}


/* --------------------- Places styles ---------------------------------*/

.place-details {
	font-size:5pt;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

/* --------------------- Devices styles --------------------------------*/

.device-title {
	font-size:2pt;
}
