<div class="btn btn-default btn-prog btn-prog-action" id="<%= node.iid %>">
    <% if (typeof node.phrase !== 'undefined') { %>
    <span data-i18n='<%=node.phrase%>'></span>
    <% } else { %>
    Unknown
    <% } %>

    <% if (node.methodName == "sendMailSimple" ) { %>
        <span data-i18n='language.mail-dest'/> <input type="email" target-id="<%= node.iid %>" value="<%= node.args[0].value %>" class="arg-input" target-index="0"/>
        <span data-i18n='language.mail-subject'/> <input type="email" target-id="<%= node.iid %>" value="<%= node.args[1].value %>" class="arg-input" target-index="1"/><br>
        <span data-i18n='language.mail-body'/>: <textarea target-id="<%= node.iid %>" class="arg-input" target-index="2" cols="60" rows="3"><%= node.args[2].value %></textarea>
    <% } %>

</div>