<div class="btn btn-default btn-prog btn-prog-action " id="<%= node.iid %>">
        <% if (typeof node.phrase !== 'undefined') { %>
            <span data-i18n='<%=node.phrase%>'></span>
        <% } else { %>
        Uknown
        <% } %>
<% if (typeof node.target.value !== 'undefined') { %>
    <%=engine.buildInputFromNode(node.target) %>
<%} else { %>
<div class='btn btn-default btn-prog input-spot mandatory-spot' id="<%= node.target.iid %>">
    <span data-i18n='language.mandatory-keyword'/>
</div>
<%}%>
</div>
