<div class="btn btn-default btn-prog btn-prog-action" id="<%= node.iid %>">

    <% switch(node.methodName) { 
    	case "getWeatherCodeForecast": %>
    		<span data-i18n="language.weather-at"></span>
		<%	break;
    	case "getMinTemperatureForecast": %>
    		<span data-i18n="language.weather-min-at"></span>
		<%	break;		
    	case "getMaxTemperatureForecast": %>
    		<span data-i18n="language.weather-max-at"></span>
		<%	break;		
    	case "getAvgTemperatureForecast": %>
    		<span data-i18n="language.weather-avg-at"></span>
		<%	break;		
     } %>   	
    	
    <select id="weather-town-<%= node.idd %>" class="weather-town-picker" target-id="<%= node.iid %>">
        <option <% if (node.args[0].value === "language.weather-town-grenoble") { %>selected<% } %> value="language.weather-town-grenoble" data-i18n="language.weather-town-grenoble"></option>
        <option <% if (node.args[0].value === "language.weather-town-paris") { %>selected<% } %> value="language.weather-town-paris" data-i18n="language.weather-town-paris"></option>
        <option <% if (node.args[0].value === "language.weather-town-lyon") { %>selected<% } %> value="language.weather-town-lyon" data-i18n="language.weather-town-lyon"></option>
        <option <% if (node.args[0].value === "language.weather-town-france") { %>selected<% } %> value="language.weather-town-france" data-i18n="language.weather-town-france"></option>
        <option <% if (node.args[0].value === "language.weather-town-stfrancois") { %>selected<% } %> value="language.weather-town-stfrancois" data-i18n="language.weather-town-stfrancois"></option>
    </select>
    <select id="day-forecast-<%= node.idd %>" class="day-forecast-picker" target-id="<%= node.iid %>">
        <option <% if (node.args[0].value === "language.weather-for-0") { %>selected<% } %> value="language.weather-for-0" data-i18n="language.weather-for-0"></option>
        <option <% if (node.args[0].value === "language.weather-for-1") { %>selected<% } %> value="language.weather-for-1" data-i18n="language.weather-for-1"></option>
        <option <% if (node.args[0].value === "language.weather-for-2") { %>selected<% } %> value="language.weather-for-2" data-i18n="language.weather-for-2"></option>

    </select>    
    
</div>