<div class="btn btn-default btn-prog btn-prog-action" id="<%= node.iid %>">
        <% if (typeof node.phrase !== 'undefined') { %>
            <span data-i18n='<%=node.phrase%>'></span>
        <% } else { %>
        Uknown
        <% } %>

    <% if (typeof node.target !== 'undefined') { %>
    <%=engine.buildInputFromNode(node.target) %>
    <% } %>

    <% if (node.methodName !== "Off") { %>
    <span data-i18n="language.complement-change-color-lamp-action"></span>
    <select id="lamp-color-<%= node.idd %>" class="lamp-color-picker" target-id="<%= node.iid %>">
        <option <% if (node.methodName === "setRed") { %>selected<% } %> value="setRed" data-i18n="language.red-color"></option>
        <option <% if (node.methodName === "setBlue") { %>selected<% } %> value="setBlue" data-i18n="language.blue-color"></option>
        <option <% if (node.methodName === "setGreen") { %>selected<% } %> value="setGreen" data-i18n="language.green-color"></option>
        <option <% if (node.methodName === "setYellow") { %>selected<% } %> value="setYellow" data-i18n="language.yellow-color"></option>
        <option <% if (node.methodName === "setOrange") { %>selected<% } %> value="setOrange" data-i18n="language.orange-color"></option>
        <option <% if (node.methodName === "setPurple") { %>selected<% } %> value="setPurple" data-i18n="language.purple-color"></option>
        <option <% if (node.methodName === "setPink") { %>selected<% } %> value="setPink" data-i18n="language.pink-color"></option>
        <option <% if (node.methodName === "setWhite") { %>selected<% } %> value="setWhite" data-i18n="language.white-color"></option>
    </select>
    <% } %>
</div>