<ul class="circlemenu controlmenu">
	<li><a href="#"></a></li>
	<li><a href="#home"><span class="glyphicon glyphicon-refresh"></span></a></li>
	<li><a data-toggle="modal" data-target="#settings-modal"><span class="glyphicon glyphicon-cog"></span></a></li>
	<li><a href="#home"><span class="glyphicon glyphicon-off"></span></a></li>
</ul>

<ul class="circlemenu navmenu">
	<li><a href="#"></a></li>
	<li><a href="#users"><span class="glyphicon glyphicon-user"></span></a></li>
	<li><a href="#places"><span class="glyphicon glyphicon-home"></span></a></li>
	<li><a href="#devices"><span class="glyphicon glyphicon-hdd"></span></a></li>
	<li><a href="#services"><span class="glyphicon glyphicon-cloud"></span></a></li>
	<li><a href="#programs"><span class="glyphicon glyphicon-list-alt"></span></a></li>
</ul>
