<div id="universeList" class="container">
	<div class="row local-universes">
		<div class="fundamental-block">
            <div id="users" class="fundamental-universe disabled">
            </div>
            <div class="universe-name">
                	<span class="universe-name-input" data-i18n="navbar.users"></span>
            </div>
        </div>
        <div class="fundamental-block">
            <div id="places" class="fundamental-universe">
            </div>
            <div class="universe-name">
               <span class="universe-name-input" data-i18n="navbar.places"></span>
            </div>
        </div>
        <div class="fundamental-block">
            <div id="devices" class="fundamental-universe">
            </div>
            <div class="universe-name">
              <span class="universe-name-input" data-i18n="navbar.devices"></span>
            </div>
        </div>
        <div class="fundamental-block">
            <div id="services" class="fundamental-universe">
            </div>
            <div class="universe-name">
               <span class="universe-name-input" data-i18n="navbar.services"></span>
            </div>
       </div>
       <div class="fundamental-block">
            <div id="programs" class="fundamental-universe">
            </div>
            <div class="universe-name">
               <span class="universe-name-input" data-i18n="navbar.programs"></span>
            </div>
	</div>
	<div class="row user-universes">
	</div>
</div>
