<div id="universeList" class="container">
	<div class="row local-universes">
	</div>
	<div class="row user-universes">
	</div>
</div>

<div id="edit-name-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 data-i18n="edit-name-modal.title"></h3>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" data-i18n="[placeholder]edit-name-modal.name">
				<p class="hide text-danger" data-i18n="edit-name-modal.already-existing"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal" data-i18n="form.cancel-button"></button>
				<button class="btn btn-primary valid-button" data-i18n="form.valid-button"></button>
			</div>
		</div>
	</div>
</div>