<div class="lead">
	<% if (program.get("name") !== "") { %>
		<%= program.get("name") %>
	<% } else { %>
		<em>Programme sans nom</em>
	<% } %>

	<div class="pull-right">
		<% if (program.get("daemon")) { %>
			<button type="button" class="btn btn-info">
				<i class="glyphicon glyphicon-check"></i> Daemon
			</button>
		<% } else { %>
			<button type="button" class="btn btn-default">
				<i class="glyphicon glyphicon-unchecked"></i> Daemon
			</button>
		<% } %>
		<button type="button" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i> Renommer
		</button>
		<button type="button" class="btn btn-default save-program-button">
			<i class="glyphicon glyphicon-save"></i> Sauvegarder
		</button>
		<button id="delete-popover" class="btn btn-default" rel="popover" data-content="<button type='button' class='btn btn-danger delete-program-button'>Supprimer</button>" data-placement="bottom">
			<i class="glyphicon glyphicon-trash"></i>
		</button>
	</div>
</div>

<textarea class="form-control" rows="20"><%= JSON.stringify(program.get("source")) %></textarea>