body {
	margin: 0;
	background-color: #f5f5f5;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.navbar {
	border-bottom: 3px solid dodgerblue;
}

#container-fluid {
}

.body-content {
	/* display: block; */
	position: fixed;
	height: 95.4%;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.aside-menu-title {
	background-color: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;
}

.aside-menu {
	position: fixed;
	left: 0;
	height: 95.4%;
	border-right: 1px solid black;
}

.place-menu-container > .header, .device-type-container > .header {
	background-color: dodgerblue;
	text-transform: uppercase;
	font-weight: bold;
	padding: 5px;
}

.place-menu-container > .header > a, .device-type-container > .header > a {
	display: block;
	color: #ffffff;
	text-decoration: none;
}

.place-menu-container > .body, .device-type-container > .body {
	background-color: #ffffff;
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

.place-menu-container > .body > div, .device-type-container > .body > div {
	padding: 5px;
}

.place-menu-container > .body > .switch-container, .device-type-container > .body > .switch-container {
	padding-bottom: 15px;
}

.place-menu-container > .body > div:not(:last-child), .device-type-container > .body > div:not(:last-child) {
	border-bottom: 1px solid #efefef;
}

.box {
	background-color: #ffffff;
	border: 1px solid #efefef;
	margin-bottom: 10px;
}

.box-header {
	background-color: dodgerblue;
	color: #ffffff;
	padding: 5px;
	border-bottom: 1px solid #eeeeee;
	text-transform: uppercase;
	font-weight: bold;
}

.device-details-name {
	position: absolute;
	width: 94%;
	text-align: center;
}

.box-body {
	display: block;
	margin-bottom: -10px;
}

.box-body > ul > li {
	padding: 5px;
}

.box-body > ul > li:not(:last-child) {
	border-bottom: 1px solid #eaeaea;
}

.box-body > ul > li > img {
	width: 50%;
	height: auto;
	margin-left: 25%;
}

.box-body > ul > li > a {
	display: block;
	text-decoration: none;
	color: #000000;
}

.box-body > ul > li .deviceName,
.box-body > ul > li .deviceValue {
	color: #000000;
}

.box-body > ul > li .deviceInfo {
	color: #888888;
}

.li-device-offline {
	border-left: 3px solid #bd362f;
}

a > h4 {
	display: inline-block;
}

.place-name-details, .device-type-name-details {
	padding: 10px;
	margin-bottom: 5px;
}

/* large desktop */
@media (min-width: 1200px) {
	body {
		/* background-color: red; */
	}
	
	#container-fluid {
		/* margin-top: 50px; */
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	#container-fluid {
		/* margin-top: 50px; */
	}
}

/* portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		/* background-color: green; */
	}
}

/* landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		/* background-color: blue; */
	}
}

/* landscape phone and down */
@media (max-width: 480px) {
	body {
		/* background-color: yellow; */
	}
}