<div class="device-type-container">
	
	<!-- header -->
	<div class="header">
		<a href="#devices/types/<%= type %>">
		<%= typeName %>
		<div class="pull-right"><%= devices.length %></div>
		</a>
	</div>
	
	<!-- body -->
	<div class="body">
		
		<% places.forEach(function(place) { %>
			<% if (place.getTypeSensors(type).length > 0) { %>
			
			<div class="inline <% if (type === '7') { %> switch-container <% } %>">
				
				<span class="label">
					<%= place.getTypeSensors(type).length %>
				</span>
				
				<%= place.get("name") %>
				
				<% if (type === "0") { %>
				<div class="pull-right">
					<%= place.getAverageTemperature() %>&deg;C
				</div>
				<% } else if (type === "1") { %>
				<div class="pull-right">
					<%= place.getAverageIllumination() %> Lux
				</div>
				<% } else if (type === "7") { %>
				<div class="switch pull-right">
					<input type="checkbox">
				</div>
				<% } %>
				
			</div>
			
			<% } %>
		<% }) %>
		
	</div>
	
</div>