<div class="lead">
	<%= deviceTypeName %>
</div>

<!-- render located devices -->
<% places.forEach(function(place) { %>
<% if (place.getTypeSensors(typeId).length > 0) { %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<% if (place.get("name") !== "") { %>
				<%= place.get("name") %>
			<% } else { %>
				<em>Pi&egrave;ce sans nom</em>
			<% } %>
			<span class="badge pull-right">
				<%= place.getTypeSensors(typeId).length %>
			</span>
		</h3>
	</div>
	<div class="list-group">
		<% place.getTypeSensors(typeId).forEach(function(s) { %>
			<a href="#devices/<%= s.get('id') %>" class="list-group-item">
				<% if (s.get("name") !== "") { %>
					<%= s.get("name") %>
				<% } else { %>
					<em>Dispositif sans nom</em>
				<% } %>
				<div class="pull-right">
					<% if (typeId === "6") { %>
						<span class="label label-info"><%= s.get("consumption") %> Watt</span>
						<% if (s.get("plugState") === "true" || s.get("plugState") === true) { %>
							<button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-plug-button">Eteindre</button>
						<% } else { %>
							<button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-plug-button">Allumer</button>
						<% } %>
					<% } else if (typeId === "7") { %>
						<% if (s.get("value") === "true" || s.get("value") === true) { %>
							<button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-lamp-button">Eteindre</button>
						<% } else { %>
							<button type="button" id="<%= s.get('id') %>" class="btn btn-info btn-sm toggle-lamp-button">Allumer</button>
						<% } %>
					<% } else { %>
						<span class="label label-info">
							<% if (typeId === "0") { %>
								<%= s.get("value") %>&deg;C
							<% } else if (typeId === "1") { %>
								<%= s.get("value") %> Lux
							<% } else if (typeId === "2") { %>
								<% if (s.get("value") === "true") { %>
									Ouvert
								<% } else { %>
									Ferm&eacute;
								<% } %>
							<% } else if (typeId === "3") { %>
								<% if (s.get("contact") === "true") { %>
									Ferm&eacute;
								<% } else { %>
									Ouvert
								<% } %>
							<% } else if (typeId === "4") { %>
								<% if (s.get("inserted") === "true") { %>
									Carte ins&eacute;r&eacute;e
								<% } else { %>
									Pas de carte
								<% } %>
							<% } %>
						</span>
					<% } %>
					<i class="glyphicon glyphicon-chevron-right"></i>
				</div>
				<br>
				<% if (s.get("status") === "0") { %>
					<span class="label label-danger">D&eacute;connect&eacute;</span>
				<% } else if (s.get("status" === "1")) { %>
					<span class="label label-warning">En attente</span>
				<% } else { %>
					<span class="label label-success">Connect&eacute;</span>
				<% } %>
			</a>
		<% }) %>
	</div>
</div>
<% } %>
<% }) %>