<div class="devices">
</div>

<div id="addDeviceModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Installer dispositif</h3>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<span class="btn btn-block scan"><i class="icon-qrcode"></i> Scan QR code</span>
			<p class="scannedSensor help-block input-block-level">Pas de dispositif d&eacute;tect&eacute;</p>
		</div>
			<input type="text" class="deviceName input-block-level" placeholder="Device's name">
			<select class="input-block-level">
				<% _.each(locations.models, function(location) { %>
				<option value=<%= location.get("id") %>><%= location.get("name") %></option>
				<% }) %>
			</select>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Annuler</button>
		<button class="btn btn-primary validDeviceInstall">Valider</button>
	</div>
</div>

<button data-target="#addDeviceModal" data-toggle="modal" class="btn btn-primary showDeviceInstallModal"><i class="icon-plus-sign icon-white"></i> Installer dispositif</button>
