<div id="place-edit-palette" class="place-edit-palette">
	<div class="place-edit-palette-header">
				<input id="place-name-input" type="text" class="form-control" data-i18n="[placeholder]places.place-no-name">
	</div>
	<h4 data-i18n="form.background-editor"></h4>
	<div class="place-edit-palette-background">
		<img class="background-editor-img" src="app/img/roue-chromatique.png"/>
	</div>
	<h4 data-i18n="form.size-editor"><h4>
	<div class="place-edit-palette-size">
				<button id="place-size-button-1" type="button" class="btn btn-default">
					<span>x 1</span>
				</button>
				<button id="place-size-button-2" type="button" class="btn btn-default">
					<span>x 2</span>
				</button>
				<button id="place-size-button-3" type="button" class="btn btn-default">
					<span>x 3</span>
				</button>
				<button id="place-size-button-4" type="button" class="btn btn-default">
					<span>x 4</span>
				</button>
	
	</div>
	
	<h4 data-i18n="form.save-button"><h4>
		<div class="btn-group ">
			<button id="place-edit-validbtn" class="btn btn-primary valid-button" data-i18n="form.valid-button"></button>
			<button id="place-edit-cancelbtn" class="btn btn-default cancel-button" data-i18n="form.cancel-button"></button>
		</div>
</div>