<div class="container editor">
    <% if (typeof program === "undefined") { %>
    <div class="lead" data-i18n="editor.title"></div>
    <div class="alert alert-info" data-i18n="editor.no-program-alert"></div>
    <% } else { %>

    <div class="lead">
        <% if (program.get("runningState") === "STARTED") { %>
        <div class="led led-green pull-left"></div>
        <% } else if ((program.get("runningState") === "STOPPED") || (program.get("runningState") === "DEPLOYED")) { %>
        <div class="led led-default pull-left"></div>
        <% } else if (program.get("runningState") === "FAILED") { %>
        <div class="led led-red pull-left"></div>
        <% } %>
        <% if (program.get("name") !== "") { %>
        <%= program.get("name") %>
        <% } else { %>
        <em>Programme sans nom</em>
        <% } %>

        <div class="pull-right">
            <a href="#programs/<%= program.get('id') %>" class="btn btn-default">
                <span data-i18n="editor.undo-last-action"></span>
            </a>
            <button id="end-edit-button" type="button" class="btn btn-default">
                <span data-i18n="programs.end-edit-program"></span>
            </button>

        </div>
    </div>

    <div class="editorWorkspace container">
        <div class="programInput row container">

        </div>

        <div class="expected-elements expected-input row">

        </div>

    </div>
    <% } %>
</div>
