<div class="sensorInstall">
	<h3>Installation d'un nouveau capteur</h3>
	<form class="form-horizontal">
		<legend>Identification</legend>
		<div class="control-group">
			<span class="btn scan"> Scanner le QR code d'un capteur</span>
			<span class="scannedSensor">Aucun capteur scann&eacute;</span>
		</div>

		<legend>Configuration</legend>
		<div class="control-group">
			<label class="control-label" for="inputName">Nom du capteur</label>
			<div class="controls">
				<input type="text" id="inputName" placeholder="Nom du capteur">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="selectRoom">Emplacement</label>
			<div class="controls">
				<select>
					<option>Chambre 1</option>
					<option>Chambre 2</option>
					<option>Couloir</option>
					<option>Cuisine</option>
					<option>Entr&eacute;e</option>
					<option>Salle de bain</option>
					<option>Salon</option>
					<option>Toilettes</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<span class="btn cancelInstallDevice">Annuler</span>
				<span class="btn btn-primary">Terminer</span>
			</div>
		</div>
		</div>
	</form>
</div>