<div class="lead">
	<button type="button" class="pull-left btn btn-default back-button">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>&nbsp;
	<% if (device.get("name") !== "") { %>
		<%= device.get("name") %>
	<% } else { %>
		<em>Dispositif sans nom</em>
	<% } %>
	<div class="pull-right">
		<button type="button" class="btn btn-default" data-target="#edit-device-modal" data-toggle="modal"><i class="glyphicon glyphicon-edit"></i> Editer</button>
	</div>
</div>

<ul class="list-group">
	<% if (typeof sensorImg !== "undefined") { %>
		<li class="list-group-item">
			<img src="<%= sensorImg %>" class="img-responsive">
		</li>
	<% } else if (device.get("type") === "21" || device.get("type") === 21) { %>
		<li class="list-group-item">
			<h1 class="text-center">
				<i class="glyphicon glyphicon-time"></i>
				<%= device.get("hour") %>:<%= device.get("minute") %>
			</h1>
		</li>
	<% } %>
	<li class="list-group-item">
		<strong>Type</strong>
		<div class="pull-right">
			<%= sensorType %>
		</div>
	</li>
	<% if (device.get("type") !== "21" && device.get("type") !== 21) { %>
		<li class="list-group-item">
			<strong>Emplacement</strong>
			<div class="pull-right">
				<% if (device.get("placeId") === "-1") { %>
					Non localis&eacute;
				<% } else { %>
					<%= locations.get(device.get("placeId")).get("name")%>
				<% } %>
			</div>
		</li>
	<% } %>
	<li class="list-group-item">
		<strong>Statut</strong>
		<div class="pull-right">
			<% if (device.get("status") === "0") { %>
				<span class="label label-danger">D&eacute;connect&eacute;</span>
			<% } else if (device.get("status" === "1")) { %>
				<span class="label label-warning">En attente</span>
			<% } else { %>
				<span class="label label-success">Connect&eacute;</span>
			<% } %>
		</div>
	</li>
	<%= deviceDetails({ device : device }) %>
</ul>

<!-- modal to edit a device -->
<div id="edit-device-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>
					<% if (device.get("name") !== "") { %>
						<%= device.get("name") %>
					<% } else { %>
						<em>Dispositif sans nom</em>
					<% } %>
				</h3>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col-md-3">Nom</div>
						<div class="col-md-9">
							<input type="text" class="form-control" id="device-name" placeholder="Nom du dispositif">
							<p class="hide text-danger">Nom de dispositif d&eacute;j&agrave; existant</p>
						</div>
					</div><br>
					<% if (device.get("type") !== "21" && device.get("type") !== 21) { %>
						<div class="row">
							<div class="col-md-3">Emplacement</div>
							<div class="col-md-9">
								<select id="device-place" class="form-control">
									<% _.each(locations.models, function(location) { %>
										<option value="<%= location.get('id') %>" <% if (location.get("id") === device.get("placeId")) { %>selected<% } %>>
											<%= location.get("name") %>
										</option>
									<% }) %>
								</select>
							</div>
						</div>
					<% } else { %>
						<div class="row">
							<div class="col-md-3">Heure</div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-4">
										<select id="hour" class="form-control">
											<% _.each(hours, function(h) { %>
												<option value="<%= h %>"><%= h %></option>
											<% }); %>
										</select>
									</div>
									<div class="col-md-1">:</div>
									<div class="col-md-4">
										<select id="minute" class="form-control">
											<% _.each(minutes, function(m) { %>
												<option value="<%= m %>"><%= m %></option>
											<% }); %>
										</select>
									</div>
								</div>
							</div>
						</div><br>
						<div class="row">
							<div class="col-md-3">Vitesse</div>
							<div class="col-md-9">
								<input type="text" class="form-control" id="time-flow-rate">
							</div>
						</div>
					<% } %>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default cancel-edit-device" data-dismiss="modal">Annuler</button>
				<button class="btn btn-primary valid-button">Valider</button>
			</div>
		</div>
	</div>
</div>