<div id="<%= device.get('id') %>" class="device-container span12 box">
	<div class="box-header inline">
		<button id ="button-back" type="button" class="btn btn-primary"><i class="icon-chevron-left icon-white"></i></button>
		<span class="device-details-name"><%= device.get("name") %></span>
		<div class="pull-right">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-device-modal"><i class="icon-edit icon-white"></i></button>
		</div>
	</div>
	<div class="box-body">
		
		<ul class="unstyled">
			<% if (typeof sensorImg !== "undefined") { %>
			<li>
				<img class="img-polaroid" src="<%= sensorImg %>">
			</li>
			<% } %>
			<li>
				<strong>Type</strong>
				<div class="pull-right">
					<%= sensorType %>
				</div>
			</li>
			<li>
				<strong>Emplacement</strong>
				<div class="device-location pull-right">
				<% if (device.get("locationId") === "-1") { %>
					Non localis&eacute;
				<% } else { %>
					<%= locations.get(device.get("locationId")).get("name")%>
				<% } %>
				</div>
			</li>
			<li>
				<strong>Status</strong>
				<div class="pull-right">
					<% if (device.get("status") === "0") { %>
						D&eacute;connect&eacute;
					<% } else if (device.get("status" === "1")) { %>
						En attente
					<% } else { %>
						Connect&eacute;
					<% } %>
				</div>
			</li>
			<%= deviceDetails({ device : device }) %>
			<!-- <li>
				<span class="buttons">
					<button class="btn btn-primary" data-toggle="modal" data-target="#edit-device-modal">Modifier</button>
					<button class="btn">Supprimer</button>
				</span>
			</li> -->
		</ul>
	</div>
</div>