<div class="lead">
	<button type="button" class="pull-left btn btn-default back-button">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</button>&nbsp;
	<% if (device.get("name") !== "") { %>
		<%= device.get("name") %>
	<% } else { %>
		<em data-i18n="devices.device-no-name"></em>
	<% } %>
	<div class="pull-right">
		<button type="button" class="btn btn-default" data-target="#edit-device-modal" data-toggle="modal"><i class="glyphicon glyphicon-edit"></i> <span data-i18n="form.edit-button"></span></button>
	</div>
</div>

<ul class="list-group">
	<% if (typeof sensorImg !== "undefined") { %>
		<li class="list-group-item">
			<img src="<%= sensorImg %>" class="img-responsive">
		</li>
	<% } else if (device.get("type") === "21" || device.get("type") === 21) { %>
		<li class="list-group-item">
			<h1 class="text-center clock-font">
				<i class="glyphicon glyphicon-time"></i>
				<%= device.get("hour") %>:<%= device.get("minute") %>
			</h1>
		</li>
	<% } %>
	<li class="list-group-item">
		<strong data-i18n="devices.type-label"></strong>
		<div class="pull-right">
			<%= sensorType %>
		</div>
	</li>
	<% if (device.get("type") !== "21" && device.get("type") !== 21) { %>
		<li class="list-group-item">
			<strong data-i18n="devices.place-label"></strong>
			<div class="pull-right">
				<% if (device.get("placeId") === "-1") { %>
					<span data-i18n="devices.device-unlocated"></span>
				<% } else { %>
					<%= places.get(device.get("placeId")).get("name")%>
				<% } %>
			</div>
		</li>
	<% } %>
	<li class="list-group-item">
		<strong data-i18n="devices.status-label"></strong>
		<div class="pull-right">
			<% if (device.get("status") === "0") { %>
				<span class="label label-danger" data-i18n="devices.status.disconnected"></span>
			<% } else if (device.get("status" === "1")) { %>
				<span class="label label-warning" data-i18n="devices.status.waiting"></span>
			<% } else { %>
				<span class="label label-success" data-i18n="devices.status.connected"></span>
			<% } %>
		</div>
	</li>
	<%= deviceDetails({ device : device }) %>
</ul>

<!-- modal to edit a device -->
<div id="edit-device-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>
					<% if (device.get("type") === "21" || device.get("type") === 21) { %>
						<i class="glyphicon glyphicon-time"></i>
					<% } %>
					<% if (device.get("name") !== "") { %>
						<%= device.get("name") %>
					<% } else { %>
						<em data-i18n="devices.device-no-name"></em>
					<% } %>
				</h3>
			</div>
			<div class="modal-body">
					<div class="row">
						<div class="col-md-3" data-i18n="modal-edit-device.name-label"></div>
						<div class="col-md-9">
							<input type="text" class="form-control" id="device-name" data-i18n="[placeholder]modal-edit-device.name-placeholder">
							<p class="hide text-danger" data-i18n="modal-edit-device.name-already-existing"></p>
						</div>
					</div><br>
					<% if (device.get("type") !== "21" && device.get("type") !== 21) { %>
						<div class="row">
							<div class="col-md-3" data-i18n="modal-edit-device.place-label"></div>
							<div class="col-md-9">
								<select id="device-place" class="form-control">
									<% _.each(places.models, function(place) { %>
										<option value="<%= place.get('id') %>" <% if (place.get("id") === device.get("placeId")) { %>selected<% } %>>
											<%= place.get("name") %>
										</option>
									<% }) %>
								</select>
							</div>
						</div>
					<% } else { %>
						<div class="row">
							<div class="col-md-3" data-i18n="modal-edit-device.time-label"></div>
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-4">
										<select id="hour" class="form-control">
											<% _.each(hours, function(h) { %>
												<option value="<%= h %>"><%= h %></option>
											<% }); %>
										</select>
									</div>
									<div class="col-md-1">:</div>
									<div class="col-md-4">
										<select id="minute" class="form-control">
											<% _.each(minutes, function(m) { %>
												<option value="<%= m %>"><%= m %></option>
											<% }); %>
										</select>
									</div>
								</div>
							</div>
						</div><br>
						<div class="row">
							<div class="col-md-3" data-i18n="modal-edit-device.time-speed-label"></div>
							<div class="col-md-9">
								<input type="text" class="form-control" id="time-flow-rate">
							</div>
						</div>
					<% } %>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default cancel-edit-device" data-dismiss="modal" data-i18n="form.cancel-button"></button>
				<button class="btn btn-primary valid-button" data-i18n="form.valid-button"></button>
			</div>
		</div>
	</div>
</div>


<div id="media-browser-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>Media Server</h3>
			</div>
			<div class="modal-body browser-container" style="height:250px">
				<span>[placeholder]Filebrowser area</span>
			</div>
			<div class="modal-footer">
				<button class="btn cancel-media-browser" data-dismiss="modal" data-i18n="form.cancel-button">Annuler</button>
				<button class="btn btn-primary media-button valid-media disabled" data-dismiss="modal" data-i18n="form.valid-button">Valider</button>
			</div>
		</div>
	</div>
</div>