<div id="edit-device-modal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Nom du dispositif</h3>
	</div>
	<div class="modal-body">
		<input type="text" class="device-name input-block-level" value="<%= device.get('name') %>">
		<select class="input-block-level">
			<% _.each(locations.models, function(location) { %>
			<option value="<%= location.get('id') %>" <% if (location.get("id") === device.get("placeId")) { %>selected<% } %>>
				<%= location.get("name") %>
			</option>
			<% }) %>
			<option value="-1">Non localis&eacute;</option>
		</select>
	</div>
	<div class="modal-footer">
		<button class="btn cancel-edit-device" data-dismiss="modal">Annuler</button>
		<button class="btn btn-primary valid-button">Valider</button>
	</div>
</div>