<li class="list-group-item">
	<div>
		<div class="pull-right label label-success">
			<span id="selectedMedia">[placeholder]Library/Movies/movie.mov</span>
		</div>
		<div>
			<button type="button" class="btn btn-default btn-sm btn-media-browse" data-target="#media-browser-modal" data-toggle="modal" data-i18n="devices.mediaplayer.action.browse"></button>
		</div>
	</div>
	<div>
		<button type="button" class="btn btn-info btn-sm btn-media-resume" data-i18n="devices.mediaplayer.action.resume"></button>
		<button type="button" class="btn btn-info btt-sm btn-media-pause" data-i18n="devices.mediaplayer.action.pause"></button>
		<button type="button" class="btn btn-info btn-sm btn-media-stop" data-i18n="devices.mediaplayer.action.stop"></button>
		<div class="pull-right">
			<span data-i18n="devices.mediaplayer.action.volume"></span>
			<div class="volume-slider" style="height:14px;width:150px"></div>
		</div>
	</div>
</li>
