/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

.home-menu {
	width:100%;
}

.home-menu-item {
	height:15%;
	width:25%;
	text-align:center;
}



.home-menu-image {
	height:200px;
	width:200px;
	border:10px solid black;
	border-radius:50%;
}

.green-border {
	border:10px solid green;
}

.orange-border {
	border:10px solid orange;
}

.blue-border {
	border:10px solid blue;
}

.gray-border {
	border:10px solid gray;
}

.navbar {
	top:0px;
	left:0px;
	width:100%;
	background:#E8E8E8;
}

.navbar-item {
	-webkit-margin-before:0em;
}
