<div class="lead">
    <% if (type === "31") { %>
        <% if (services.length === 1) { %>
            <span data-i18n="services.mediaplayer.name.singular"></span>
        <% } else { %>
            <span data-i18n="services.mediaplayer.name.plural"></span>
        <% } %>
    <% } else if (type === "36") { %>
        <% if (services.length === 1) { %>
            <span data-i18n="services.mediabrowser.name.singular"></span>
        <% } else { %>
            <span data-i18n="services.mediabrowser.name.plural"></span>
    <% } %>
    <% } else if (type === "102") { %>
        <% if (services.length === 1) { %>
            <span data-i18n="services.mail.name.singular"></span>
        <% } else { %>
            <span data-i18n="services.mail.name.plural"></span>
        <% } %>
    <% } else if (type === "103") { %>
        <% if (services.length === 1) { %>
            <span data-i18n="services.weather.name.singular"></span>
        <% } else { %>
            <span data-i18n="services.weather.name.plural"></span>
        <% } %>
    <% } %>
</div>

<!-- render located services -->
<div class="contents-list">
    <% places.forEach(function(place) { %>
        <% if (place.getTypeServices(type).length > 0) { %>
            <div class="panel panel-default">
                <div class="list-group">
                    <% place.getTypeServices(type).forEach(function(s) { %>
                        <a href="#services/<%= s.get('id') %>" class="list-group-item">
                            <% if (s.get("name") !== "") { %>
                                <%= s.get("name") %>
                            <% } else { %>
                                <%= s.get("friendlyName") %>
                            <% } %>
                        </a>
                    <% }) %>
                </div>
            </div>
        <% } %>
    <% }) %>
</div>
