<div class="navbar navbar-fixed-top navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#home">
				Chez nous
			</a>
		</div>
		<div>
			<button type="button" class="btn navbar-btn btn-danger emergency-stop">
			 <span>STOP</span>
			</button>
		</div>
		<div class="navbar-right">
			<a href="#find" class="navbar-link find-button">Find...</a>
			<div class="btn-group navbar-btn">
				<button type="button" class="btn btn-default btn-toggle-edit">
					<span class="toggle-edit-text" data-i18n="navbar.edit"></span>
				</button>
			</div>
		</div>
		</div>
		<div class="container">
		<div class="editbar hidden">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-undo">
					<span data-i18n="editbar.undo"></span>
				</button>
				<button type="button" class="btn btn-default btn-redo">
					<span data-i18n="editbar.redo"></span>
				</button>
			</div>
			<div class="btn btn-default btn-add">
					<span data-i18n="editbar.add"></span>
			</div>
			<div class="btn btn-default btn-trashbin">
					<span data-i18n="editbar.trashbin"></span>
			</div>
			<div class="navbar-right">
				<div class="edition-tabs">
				</div>
			</div>
		</div>
	</div>
</div>