<table class="table table-striped">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Statut</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% _.each(programs, function(program) { %>
		<tr>
			<td><%= program.get("name") %></td>
			<td>
				<% if (program.get("status") === 0) { %>
				Actif
				<% } else { %>
				Inactif
				<% } %>
			</td>
			<td><a href="#programs/edit/<%= program.id %>" class="btn">Editer <i class="icon-edit"></i></a></td>
		</tr>
		<% }); %>
	</tbody>
</table>

<a href="#programs/edit" class="btn btn-primary"><i class="icon-plus icon-white"></i> Nouveau programme</a>