<a href="#programs/<%= program.get('id') %>" class="list-group-item <% if (active) { %> active <% } %>" id="side-<%= program.get('id') %>">
	<!-- header -->
	<p class="list-group-item-heading lead">
		<% if (program.get("name") !== "") { %>
		<%= program.get("name") %>
		<% } else { %>
			<em>Programme sans nom</em>
		<% } %>
	</p>
	
	<!-- body -->
	<p class="list-group-item-text">
		<ul class="list-unstyled">
			<li>
				<% if (program.get("runningState") === "DEPLOYED") { %>
					<label class="label label-info">D&eacute;ploy&eacute;</label>
					<button type="button" id="<%= program.get('id') %>" class="btn btn-sm btn-info pull-right start-program-button">D&eacute;marrer</button>
				<% } else if (program.get("runningState") === "STARTED") { %>
					<label class="label label-success">D&eacute;marr&eacute;</label>
					<button type="button" id="<%= program.get('id') %>" class="btn btn-sm btn-info pull-right stop-program-button">Arr&ecirc;ter</button>
				<% } else if (program.get("runningState") === "STOPPED") { %>
					<label class="label label-info">Arr&ecirc;t&eacute;</label>
					<button type="button" id="<%= program.get('id') %>" class="btn btn-sm btn-info pull-right start-program-button">D&eacute;marrer</button>
				<% } else if (program.get("runningState") === "FAILED") { %>
					<label class="label label-danger">Erreur</label>
					<button type="button" id="<%= program.get('id') %>" class="btn btn-sm btn-info pull-right start-program-button">D&eacute;marrer</button>
				<% } %>
			</li>
		</ul>
	</p>
</a>